#app{
    display: block;
    position: absolute;
    top : 1em;
    left: 1em;
    height: 1100px;
    width: 2000px;
    z-index: 2;

}

#viewport{
    display: block;
    position: absolute;
    top : -1em;
    left: 0em;
    z-index: 3;
}

#cell{
    display: block;
    position: absolute;  
    height: auto;
    width: auto;
    border: 0.3em solid black;
}

table{
    height: 720px;
    max-height: 720px;
    width: 1000px;
    border: 0.3em solid black;
}

tr{
    font-size: 70%;
    height: auto;
    width: auto;
}

.app_viewport{
    display: grid;
    position: absolute;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    row-gap: 10px;
    top: 15%;
    right: 10em;
    height: 720px;
    max-height: 720px;
    width: 1000px;
    border: 0.3em solid black;
    z-index: 1;
    overflow-y: scroll; /* Show vertical scrollbar */
}

.gantt{
    display: grid;
    position: absolute;
    top: 15%;
    right: 10em;
    height: 720px;
    width: 1000px;
    border: 0.3em solid yellow;
    z-index: 7;
}

.gantt > img{
    display: grid;
    position: absolute;
    height: 720px;
    width: 1000px;
}

#bars{
    display: block;
    position: relative;
    top : -2.1em;
    left: -7.5em;
    z-index: 4;
}

#barsColumn{
    display: grid;
    position: relative;
    top : -2.1em;
    left: -7.5em;
    z-index: 4;
    row-gap: 240px;
}

#widgets{
    display: block;
    position: absolute;
    top : 1.5em;
    left: -10em;
    z-index: 4;
}