.bar{
    display: block;
    position: relative;
    z-index: 4;  
}

.retracted{
    display: block;
    position: absolute;
    top: 2.4em;
    left: 8em;
    height: 200px;
    width: 300px;
    border: 0.3em solid black;
    z-index: 1;
    background-color: white;
}
.expanded{
    display: block;
    position: absolute;
    top: 2.4em;
    left: 8em;
    height: 200px;
    width: 600px;
    border: 0.3em solid black;
    z-index: 1;
    background-color: white;
}

.arrowRetracted{
    display: block;
    position: absolute;
    top: 2.4em;
    left: 27em;
    height: 60px;
    width: 40px;
    border: 0.3em solid black;
    z-index: 2;
    background-color: white;
    padding: 40px 0px 0px 10px;
}

.arrowRetracted:hover{
    background-color: greenyellow;
}

.arrowExpanded{
    display: block;
    position: absolute;
    top: 2.4em;
    left: 45.7em;
    height: 60px;
    width: 40px;
    border: 0.3em solid black;
    z-index: 1;
    background-color: white;
    padding: 40px 0px 0px 10px;
}

.arrowExpanded:hover{
    background-color: greenyellow;
}