.textbox{
    display: block;
    position: relative;
    top: 55em;
    left: 70%;
    height: 8em;
    width: 15em;
    border: 0.15em solid black;
    z-index: 1;
    background-color: green;
}

#textbox{
    display: block;
    position: relative;
    top: -10%;
    left: 5%;
}